<div class="container">

  <a href="#/">retour index</a><br>
  <h1>{{name}}</h1>
  <!-- <pre class="test">
<code>categorie : {{categorie}}</code>
</pre> -->
  <div ng-repeat="s_categorie in categorie">
    <a href="" ng-click="divanim(s_categorie.path)">
      <h3>
        {{s_categorie.s_categorie}}</h3>
    </a>
    <hr>
    <div id="galeries">
      <h3>Sélectionner une galerie :</h3>
      <hr>
      <div ng-repeat="gal in galeries | orderBy:'-'" class="col-sm-6 thumbcont">
        <a href="#/{{gal.categorie}}/{{gal.s_categorie}}/{{gal.galerie}}">
          <img ng-src="{{gal.path}}" alt="" class="thumbgal"/>
          <div class="cachegal">
            <p class="thumbname">
              {{gal.galerie}}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
