<section class="container" id="web">

    <h2>développement web</h2>
    <p class="text col-xs-offset-2 col-xs-8">
      J'ai suivi une formation de 7 mois chez UpTo Ecole du numérique, formation intensive sur les languages Front et Back du Développement Web. Photographe passionné, j'approndis mes connaissances du développement Front tout en explorant les languages serveur Node et Meteor.
      <br>
      Formé au travail en équipe en mode projets, mes atouts sont l'inventivité et la créativité.
      <br>
      Je suis tout terrain, prêt à créer et innover.
    </p>

    <div class="sub col-xs-offset-2 col-xs-8" id="languages">

      <h3>Languages</h3>
      <div class="logos">
        <div class="nom_languages col-md-3 col-xs-6" ng-repeat="language in languages">
          <img ng-src="{{language.logo}}" alt="{{language.nom}}" class="blase"/>
          <p>
            {{language.nom}}
          </p>
          <div class="rating">
            <div class="ratingstar" id="rating1" ng-if="language.niveau >= 1"><img class="star" ng-src="../img/shiny-star.png"/></div>
            <div class="ratingstar" id="rating2" ng-if="language.niveau >= 2"><img class="star" ng-src="../img/shiny-star.png"/></div>
            <div class="ratingstar" id="rating3" ng-if="language.niveau >= 3"><img class="star" ng-src="../img/shiny-star.png"/></div>
            <div class="ratingstar" id="rating4" ng-if="language.niveau >= 4"><img class="star" ng-src="../img/shiny-star.png"/></div>
            <div class="ratingstar" id="rating5" ng-if="language.niveau >= 5"><img class="star" ng-src="../img/shiny-star.png"/></div>
          </div>
        </div>
      </div>


    </div>

</section>
