<section class="container" id="photo">
<h2>Galeries Photos</h2>
  <ul class="dynamic-grid" angular-grid="images" ad-grid-width="300" ad-gutter-size="10" ag-angular-grid-id="main-gallery" ad-refresh-on-img-load="true" >
    <li class="grid" data-ng-repeat="photo in images">
       <a href="#/photo/{{photo.galerie}}" >
         <div class="cachegal">
           <p class="thumbname">
             {{photo.galerie}}
           </p>
         </div>
        <img src="{{photo.chemin}}"  alt=""/>
      </a>
    </li>
  </ul>
</section>
