<div ng-controller="uploadCtrl">

  <!-- PHOTO =========================================================================== -->
  <div id="upload" class="row form_upload">

    <form class="form-horizontal col-md-offset-3 col-md-6 col-sm-12" role="form" data-toggle="validator" autocomplete="on">
      <fieldset>
        <legend>Upload pour Galerie Photo</legend>

        <div class="form-group">
          <label class="control-label col-md-2" for="galerie">Galerie:</label>
          <div class="col-md-10">
            <input required type="text" class="form-control" id="galerie" placeholder="Nom de la galerie" name="galerie" value="Nom de la galerie" ng-model="galerie">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button ngf-select ngf-resize="{width: 1024, height: 1024, type: 'image/jpeg', centerCrop: false, restoreExif: true}" ng-model="files" ngf-multiple="true" accept="image/*" class="btn btn-default col-xs-5">Select</button>
            <button data-disable="true" type="submit" ng-click="submit()" class="btn btn-primary col-xs-offset-2 col-xs-5">Submit</button>
          </div>
        </div>
        <div class="row">
          <pre class="test col-md-offset-3 col-md-6">
            <code>
              {{result}}
            </code>
            </pre>
        </div>

      </fieldset>
    </form>
  </div>

  <div class="row preview">
    <div class="col-md-3 thumbContainer" ng-repeat="f in files">
      <img class="thumb" ngf-src="f" ngf-background="f" ngf-resize="{width: 200, quality: 0.9}"/><br>
      <span class="thumbName">{{f.name}}</span><br>
    </div>
  </div>

  <!-- PROJETS WEB ====================================================================== -->
  <hr>
  <div class="row form_upload">

    <form class="form-horizontal col-md-offset-3 col-md-6 col-sm-12" role="form" data-toggle="validator" autocomplete="on" method="post" action="../php/uploadprojet.php" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload pour Projet Web</legend>

        <div class="form-group">
          <label class="control-label col-md-2" for="titre">Fichier</label>
          <div class="col-md-10">
            <input required type="file" class="form-control" name="file" ng-model="file">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="titre">Titre</label>
          <div class="col-md-10">
            <input required type="text" class="form-control" placeholder="Titre Projet" name="titre">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="url">Lien</label>
          <div class="col-md-10">
            <input required type="text" class="form-control" placeholder="URL Projet" name="url">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="description">Description</label>
          <div class="col-md-10">
            <input required type="text" class="form-control" placeholder="Description Projet" name="description">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button data-disable="true" type="submit" class="btn btn-primary col-xs-offset-7 col-xs-5">Submit</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>

  <!-- Languages ====================================================================== -->
  <hr>
  <div class="row form_upload">

    <form class="form-horizontal col-md-offset-3 col-md-6 col-sm-12" role="form" data-toggle="validator" autocomplete="on" method="post" action="../php/uploadlanguages.php" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload pour Languages</legend>

        <div class="form-group">
          <label class="control-label col-md-2" for="logo">Logo</label>
          <div class="col-md-10">
            <input required type="file" class="form-control" name="file" ng-model="file">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="nom">Nom</label>
          <div class="col-md-10">
            <input required type="text" class="form-control" placeholder="Nom Language" name="nom">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="description">Niveau</label>
          <div class="col-md-10">
            <select required list="niveau" class="form-control" placeholder="niveau" name="niveau">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button data-disable="true" type="submit" class="btn btn-primary col-xs-offset-7 col-xs-5">Submit</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>


</div>
